<div class="container">
  <div class="card padding:20px border border-warning">
    <h1>Test Answer</h1>
    <h2>"<%=@question%>"</h2>
  </div>
</div>

<div class="container">
  <h2>"<%=@answer%>"</h2>
  <p>-The Coach</p>
</div>
